<!-- <!-- <section class="content-section p-3 p-lg-5 d-flex d-column top-content-space" >
    <div style="width: 100%"> -->
      <section class="w3l-main-slider" id="home">
        <div class="companies20-content"> 
  

<div class="w3l-banner-grids">
    <div class="bangrids-inn">
        <div class="banhny-grid-1">
            <div class="banhny-grid-icon">
                <span class="fa fa-laptop"></span>
            </div>
            <div class="banhny-grid-right-info">
                <h6><a >100,000 online courses</a></h6>
                <p>Focus is having the unwavering attention.</p>
            </div>
        </div>
        <div class="banhny-grid-1">
            <div class="banhny-grid-icon">

                <span class="fa fa-users"></span>

            </div>
            <div class="banhny-grid-right-info">
                <h6><a >Lifetime entrance</a></h6>
                <p>New skills online the best way is to develop and follow.</p>
            </div>
        </div>
        <div class="banhny-grid-1">
            <div class="banhny-grid-icon">
                <span class="fa fa-book"></span>
            </div>
            <div class="banhny-grid-right-info">
                <h6><a >Live learning</a></h6>
                <p>Start with your goals in mind and then work.</p>
            </div>
        </div>
    </div>
</div>
<!-- 
<!-- </div>
</section> -->
</div>
</section> 